table {
    border-collapse: collapse;
    width: 100%;
  }

  thead{
    background-color: #000000;
    color: azure;

  }
  tr {
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) {
    background-color: #BABBBA;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .View-application-button{
    background-color: #04AA6D;
    color: #FFFFFF;
    border: none;
    padding: 15px 32px;
  }